.landing-page {
    min-height: 100dvh;
    background-color: var(--surface-bg);
    color: var(--color-font);
}

.landing-page-content h1 {
    text-align: center;
    padding-top: 10%;
    font-weight: 800;
}

.landing-page p {
    text-align: center;
    font-weight: 400;
    color: grey;
}