.heatmap-instance {
  position: relative;

  margin-bottom: 20px;
  padding: 20px;

  border-radius: 15px;
  background: white;
  border: 1px solid lightgray;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.calendar.default {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
}

.calendarName.default {
  margin-bottom: 12px;
  text-align: left;
}

.heatmap.default {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1px;
}

.calendarName.preview {
  display: none;
}

.heatmap.preview {
  width: 100%;
  display: flex;
  gap: 1px;
}

.week {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.day {
  width: 14px;
  height: 14px;
  border-radius: 3px;
}

.day:hover {
  opacity: 0.8;
  transform: scale(1.2);
}

.rating-0 {background: gray;}

.delete-button {
  position: absolute;
  top: 16px;
  right: 16px;

  border: none;
  background: transparent;

  color: #999;
  font-size: 14px;

  cursor: pointer;

  opacity: 0.5;
  transition: all 0.15s ease;
}

.add-calendar-container button {
  width: 100%;

  padding: 16px;

  border: none;
  border-radius: 15px;

  background: #2ECC71;
  color: white;

  font-family: var(--quicksand);
  font-size: 20px;
  font-weight: 600;

  cursor: pointer;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  transition: all 0.15s ease;
}

.add-calendar-container button:hover {
  transform: translateY(-1px);
  opacity: 0.95;
}
