.log-page {
  width: min(95%, 1800px);
  margin: 0 auto;
}

.date-selector-container {
  display: flex;
  align-items: center;
  gap: 16px;

  width:fit-content;

  padding: 20px;

  border-radius: 15px;
  background: var(--color-date-selector-bg);
  border: 1px solid var(--color-date-selector-border);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  margin-bottom: 24px;
}

.date-arrow {
  width: 34px;
  height: 34px;

  border: 1px solid var(--color-border);
  border-radius: 8px;

  background: var(--color-date-arrow);
  cursor: pointer;

  font-size: 18px;
}

.date-arrow:hover {
  background: #f5f5f5;
}

.date-selector {
  padding: 10px 14px;

  border-radius: 10px;
  border: 1px solid var(--color-date-selector-border);
  background: var(--color-date-selector-bg);

  font-family: var(--quicksand);
  font-size: 16px;
  color: var(--color-font);
}

.log-entry {
  padding-top: 25px;
}

.journal-input {
  width: 100%;
  height: 400px;
  margin-top: 10px;
  resize: none;

  padding: 16px;

  border-radius: 15px;
  background: var(--color-log-entry-bg);
  border: 1px solid var(--color-border);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  font-family: var(--quicksand);
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-font);

  box-sizing: border-box;
}

.rating-container {
  min-width: 320px;
  padding: 20px;

  border-radius: 15px;
  background: var(--color-rating-container-bg);
  border: 1px solid var(--color-rating-container-border);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  color: var(--color-font);
}

.rating-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  margin-bottom: 20px;
}

.selected-rating {
  width: 25px;
  height: 25px;

  border-width: 1px;
  margin: 4px;
}

.calendar-buttons {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.rating-button-row {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: space-around;
}

.rating-button {
  width: 25px;
  height: 25px;

  border: 1px solid #555;
  border-radius: 3px;

  cursor: pointer;
}

.calendar-buttons button:hover {
  transform: scale(1.2);
}

.reset-button {
  background-color: gray;
}