.new-calendar-page {
  width: 95%;
  max-width: 1800px;
  margin: 0 auto;
}

.calendar-settings {
    display: flex;
    gap: 20px;
    align-items: stretch;
    margin-bottom: 20px;
}

.calendar-name-input {
  display: flex;
  flex: 1;
  flex-direction: column;

  padding: 20px;

  border-radius: 15px;
  background: white;
  border: 1px solid lightgray;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  font-size: 20px;
}

.calendar-name-input p {
  margin: 0 0 12px 0;
}

.calendar-name-input input {
  box-sizing: border-box;

  padding: 12px;

  border-radius: 10px;
  border: 1px solid lightgray;
}

.calendar-rating-input {
  display: flex;
  flex-direction: column;
  flex: 1;

  padding: 20px;

  border-radius: 15px;
  border: 1px solid lightgray;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.edit-warning {
  font-size: 0.85em;
  color: #888;
}

.rating-buttons {
  display: flex;
  justify-content: space-between;
}

.rating-buttons button {
  width: 42px;
  height: 42px;

  border: 1px solid #d9d9d9;
  border-radius: 10px;

  background: white;

  font-family: var(--quicksand);
  font-size: 16px;
  font-weight: 600;

  cursor: pointer;

  transition: all 0.15s ease;
}

.color-settings {
    display: flex;
    gap: 20px;
    align-items: stretch;
    margin-bottom: 20px;
}

.scales-color-selector {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 20px;

  padding: 20px;

  border-radius: 15px;
  background: white;
  border: 1px solid lightgray;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  font-size: 20px;
}

.color-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content:space-around;
}

.color-buttons button {
  width: 42px;
  height: 42px;

  border: 1px solid #d9d9d9;
  border-radius: 10px;

  background: white;

  font-family: var(--quicksand);
  font-size: 16px;
  font-weight: 600;

  cursor: pointer;

  transition: all 0.15s ease;
}

.scales-color-selector button{
  width: 40px;
  height: 40px;
}

.calendar-preview {
  display: flex;
  flex: 1;
  flex-direction: column;

  padding: 20px;

  border-radius: 15px;
  background: white;
  border: 1px solid lightgray;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  font-size: 20px;
}

.preview-heatmap {
  display: flex;
  justify-content: center;
}

.create-new-calendar-button button {
  width: 100%;

  padding: 16px;

  border: none;
  border-radius: 15px;

  background: #2ECC71;
  color: white;

  font-family: var(--quicksand);
  font-size: 20px;
  font-weight: 600;

  cursor: pointer;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  transition: all 0.15s ease;
}

.create-new-calendar-button button:hover {
  transform: translateY(-1px);
  opacity: 0.95;
}

