html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

:root {
  --quicksand: 'Quicksand', sans-serif;

  font: 18px/145% var(--quicksand);
  letter-spacing: 0.2px;
}

/* Layout -----------------------------------------------------------------------------------------------------------------*/
.app-layout {
  display: flex;
  width: 100%;
  min-height: 100vh;

  background-color: var(--color-bg);
  color: var(--color-font);
}

.app-layout button {
  color: inherit;
}

.sidebar {
  width: 260px;
  padding: 20px;

  display: flex;
  flex-direction: column;

  border-right: 2px solid var(--color-sidebar-border);
  background: var(--color-sidebar-bg);
}

.sidebar nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menal-title {
  cursor: pointer;
}

.sidebar nav button {
  text-align: left;
  padding: 10px;
  border: none;
  background: transparent;
  cursor: pointer;
  font-family: var(--quicksand);
  font-size: 18px;
}

.sidebar button:hover {
  background: var(--color-sidebar-button-hover);
}

.main-content {
  flex: 1;
  padding: 32px;
}

/* Dark Mode Switch -------------------------------------------------------------------------------------------------------*/
.theme-switch {
  margin-top: auto;

  width: 52px;
  height: 28px;

  padding: 3px;

  border: 1px solid lightgray;
  border-radius: 999px;
  background: #fffbf7;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background 0.2s ease;
}

.theme-switch.dark {
  background: #2f3542;
}