html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

:root {
  --quicksand: 'Quicksand', sans-serif;

  font: 18px/145% var(--quicksand);
  letter-spacing: 0.2px;
}

/* Layout -----------------------------------------------------------------------------------------------------------------*/
.app-layout {
  display: flex;
  width: 100%;
  height: 100vh;
}

.sidebar {
  width: 260px;
  padding: 20px;
  height: 100vh;
  border-right: 2px solid #ddd;
  background: #fffbf7;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menal-title {
  cursor: pointer;
}

.sidebar button {
  text-align: left;
  padding: 10px;
  border: none;
  background: transparent;
  cursor: pointer;
  font-family: var(--quicksand);
  font-size: 18px;
}

.sidebar button:hover {
  background: #eaeaea;
}

.main-content {
  flex: 1;
  padding: 32px;
}