html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

:root {
  --quicksand: 'Quicksand', sans-serif;

  font: 18px/145% var(--quicksand);
  letter-spacing: 0.2px;
}

/* Layout -----------------------------------------------------------------------------------------------------------------*/
.app-layout {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 100vh;

  background-color: var(--color-bg);
  color: var(--color-font);
}

.app-layout button {
  color: inherit;
}

.main-content {
  flex: 1;
  padding: 32px;
}

/* Sidebar -----------------------------------------------------------------------------------------------------------------*/
.sidebar-toggle {
  position: absolute;

  align-self: flex-start;
  margin: 16px 0 0 16px;
  padding: 8px;

  border: 0;
  background: transparent;
  color: inherit;
  font-size: 28px;
  line-height: 1;
  cursor: pointer;
}

.sidebar {
  width: 260px;
  padding: 20px;

  display: flex;
  flex-direction: column;

  border-right: 2px solid var(--color-sidebar-border);
  background: var(--color-sidebar-bg);

  overflow: hidden;

  transition:
    width 200ms ease,
    padding 200ms ease,
    border-width 200ms ease;
}

.sidebar.collapsed {
  width: 0;
  padding-left: 0;
  padding-right: 0;
  border-right-width: 0;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menal-title {
  cursor: pointer;
}

.sidebar nav button {
  text-align: left;
  padding: 10px;
  border: none;
  background: transparent;
  cursor: pointer;
  font-family: var(--quicksand);
  font-size: 18px;
}

.sidebar button:hover {
  background: var(--color-sidebar-button-hover);
}


/* Sidebar Footer -------------------------------------------------------------------------------------------------------*/
.sidebar-footer {
  margin-top: auto;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

.logout-button {
  width: 64px;
  height: 28px;

  background-color: var(--color-sidebar-bg);
  border: 1px solid lightgray;
  border-radius: 999px;

  font-family: var(--quicksand);
  font-size: 14px;
}

.theme-switch {
  width: 64px;
  height: 28px;

  padding: 3px;

  border: 1px solid lightgray;
  border-radius: 999px;
  background: var(--color-sidebar-bg);

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background 0.2s ease;
}

.theme-switch.dark {
  background: #2f3542;
}